.sidebar-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 250px;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 40px 0 0 40px;
  
  /* ANIMATION LOGIC */
  transform: translateX(100%); /* Start hidden off-screen to the right */
  transition: transform 0.4s ease-in-out; /* Smooth slide effect */
}

/* When the "open" class is added, move it back to its original position */
.sidebar-container.open {
  transform: translateX(0);
}

/* Rest of your existing CSS... */
.nav-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav-links a {
  color: #000000 !important;
  font-family: outfit;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
  line-height: 60px;
  border-bottom: 1px solid #ffd089;
}

.nav-links a:hover {
  color: #007bff;
}

.nav-links a.active {
  font-weight: 700;
  border: none !important;
}

.social-links {
  display: flex;
  gap: 20px;
  margin-top: 20px !important;
}

.social-links a {
  color: #C7892B !important;
  transition: color 0.3s ease;
  background-color: #000000;
  padding: 10px;
  border-radius: 50px;
  font-size: 12px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links a:hover {
  color: #ffffff !important;
}