.home-page-loader{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-dots {
  display: flex;
  gap: 8px;
}

.loader-dots span {
  width: 12px;
  height: 12px;
  background-color: #0d6efd; /* Bootstrap primary color */
  border-radius: 50%;
  display: inline-block;
  animation: bounce 0.6s infinite alternate;
}

/* Stagger the animation for each dot */
.loader-dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.loader-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-10px);
    opacity: 0.4;
  }
}